<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project</title>
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <link rel="stylesheet" href="../public/css/fonts.css">
        <link rel="stylesheet" href="../public/css/index.css">
    </head>
    <body>
        <div class="topbar">
            <div class="logo">
                <img src="../public/images/logo.png">
                <p>PROJECT</p>
            </div>
            <div class="hamburg" id="hamburg">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <p class="quote1">Welcome to a<br>world of</p>
        <p class="quote2">ENDLESS<br>CREATIVITY</p>

        <a class="button1" href="/login">Login to your Account</a>
        <a class="button2" href="/register">Create a new Account</a>

        <div class="illus1">
            <img src="../public/images/illustration1.png">
            <p>Create, upload, visit, and contribute to your passion!!</p>
        </div>

        <div class="illus2">
            <p>Don't get stuck!! Get help and move forward with good Mentors.</p>
            <img src="../public/images/illustration2.png">
        </div>

        <div class="sidebar" id="sidebar">
            <a href="" style="margin-top: 30px;">How it Works</a>
            <a href="">Service</a>
            <a href="">Support</a>
            <a href="">Blog</a>
            <a href="">About Us</a>
        </div>

        <img src="../public/images/illustration3.png" class="bottom">

        <div class="pctopbar">
            <div class="logo">
                <img src="../public/images/logo.png">
                <p>PROJECT</p>
            </div>
            <div class="right_align">
                <div class="option">
                    <p>How it Works</p><div></div>
                </div>
                <div class="option">
                    <p>Service</p><div></div>
                </div>
                <div class="option">
                    <p>Support</p><div></div>
                </div>
                <div class="option">
                    <p>Blog</p><div></div>
                </div>
                <div class="option">
                    <p>About Us</p><div></div>
                </div>
            </div>
        </div>

        <script src="../public/js/index.js"></script>
    </body>
</html> 